.footer {
    padding-top: 30px;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 30px;
    background-color: #333;
    color: white;
    &__logo {
        padding-bottom: 20px;
        &--size {
            width: 100px;
        }
    }
    &__link {
        &--flex {
            display: flex;
            color: white;
            height: 40px;
        }
    }
}

.position_footer_txt {
    position: relative;
    left: 10%;
}

.color_link {
    text-decoration: none;
    color: white;
}

.color_link:hover {
    text-decoration: underline;
}
.margin {
    margin: 0;
    padding-bottom: 10px;
}