.header {
    &__logo {
        position: relative;
        top: 1em;
        width: 100%;
        text-align: center;
        box-shadow: 1px 2px 1px 0 rgb(177, 174, 174);
        z-index: 1;
        background-color: white;
        &--fleche {
            position: absolute;
            top: 8px;
            left: 30px;
        }
    }
    &__localisation {
        position: relative;
        top: 1em;
        background-color: #ebebeb;
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }
    &__size {
        display: flex;
        &--txt {
            position: relative;
            left: 1em;
        }
    }
    &__menu {
        background-color: rgb(245, 245, 245);
        text-align: center;
    }
}